{% extends "filmes/lista_filmes.html" %}
{% load static %}
{% block title %}Definir Nova Senha{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}">
{% endblock extrastyles %}

{% block content %}
<div class="auth-container">
    <h2>Defina uma Nova Senha</h2>
    {% if validlink %}
        <form method="post" class="auth-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}<small class="help-text">{{ field.help_text|safe }}</small>{% endif %}
                    {% for error in field.errors %}<div class="error-message">{{ error }}</div>{% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="auth-button">Salvar Nova Senha</button>
        </form>
    {% else %}
        <p style="text-align: center; color: #ffcdd2;">O link para redefinição de senha é inválido ou já foi utilizado. Por favor, solicite uma nova redefinição na página de login.</p>
    {% endif %}
</div>
{% endblock %}