{% extends "filmes/lista_filmes.html" %}
{% load static %}
{% block title %}E-mail Enviado{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}">
{% endblock extrastyles %}

{% block content %}
<div class="auth-container" style="text-align: center;">
    <h2>Verifique seu E-mail</h2>
    <p>Enviamos um e-mail com instruções para redefinir sua senha. Se um e-mail não chegar em alguns minutos, verifique sua caixa de spam.</p>
    <a href="{% url 'home' %}" class="botao" style="background-color: #4caf50; color: white; text-decoration: none; display: inline-block; margin-top: 20px;">Voltar para a Home</a>
</div>
{% endblock %}