{% extends "filmes/lista_filmes.html" %}
{% load static %}
{% block title %}Senha Alterada{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}">
{% endblock extrastyles %}

{% block content %}
<div class="auth-container" style="text-align: center;">
    <h2>Senha Alterada com Sucesso!</h2>
    <p>Sua senha foi redefinida. Agora você pode fazer o login com sua nova senha.</p>
    <a href="{% url 'usuarios:login' %}" class="botao" style="background-color: #4caf50; color: white; text-decoration: none; display: inline-block; margin-top: 20px;">Ir para o Login</a>
</div>
{% endblock %}