# Arquivo: .gitignore

# Arquivos de Ambiente e Segredos
.env

# Banco de Dados de Desenvolvimento
db.sqlite3
*.sqlite3

# Arquivos de Cache e Compilados do Python
__pycache__/
*.pyc

# Diretórios de Mídia e Estáticos Coletados
/mediafiles/
/staticfiles/

# Ambientes Virtuais
venv/
env/
.venv/
